@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), url('./fonts/Roboto-Light.ttf') format('truetype');
}

body {
  margin: 0;
  height: 100vh;
}

body * {
  font-family: 'Roboto Light';
}

.button-style-off {
  border: none;
  outline: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.blue-background {
  background-color: rgb(31, 115, 183);
}

.grey-background {
  background-color: rgb(73, 77, 78);
}